
  
  <div class="border-bottom row" STYLE="padding-bottom:8px;margin-bottom:16px;">
  
    <div class="col-11">
      
      <div> <h4> {{job["title"]}} </h4> </div>
      <div class="fs-5"><b>Location :</b> {{job["location"]}}</div>
      <div class="fs-5"><B>Salary :</B> {{job["salary"]}} </div>
      
    </div>
    
    <div class="col-1">
      
      <div> <a href="mailto:shazamsaud1@gmail.com?subject=Job%20Application&body=Name%20%3A%20%22%20your%20Name%20%22%0D%0AResume%20%3A%20%22%20your%20link%20%22%0D%0Alinkedin%20%3A%20%22your%20link%20%22%0D%0Agithub%20%3A%20%22your%20link%20%22"<button type="button" class="btn btn-primary">Apply</button></a></div>
    
    </div>
  
 </div>










